################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankApp1/DesignTimeBuild/.dtbcache.v2
/.vs/BankApp1/FileContentIndex/5558943f-3618-42d2-818d-def490a00dd8.vsidx
/.vs/BankApp1/FileContentIndex/65e92fbe-3dcb-450e-a8f5-d6fdfcf0436b.vsidx
/.vs/BankApp1/FileContentIndex/af5b0576-30ae-48ea-be43-8663589ad631.vsidx
/.vs/BankApp1/FileContentIndex/da60a524-d2e6-4491-97bf-4c4dfb8b6dbe.vsidx
/.vs/BankApp1/FileContentIndex/f5378a01-447b-4ed1-918e-930de645b10b.vsidx
/.vs/BankApp1/v17/.futdcache.v2
/.vs/BankApp1/v17/.suo
/.vs/BankApp1/v17/DocumentLayout.json
/.vs/ProjectEvaluation/bankapp1.metadata.v7.bin
/.vs/ProjectEvaluation/bankapp1.projects.v7.bin
/.vs/BankApp1/FileContentIndex/2cd01622-003f-4c63-963a-12603dc265f9.vsidx
/.vs/BankApp1/FileContentIndex/609d0253-68ae-4e1a-a60f-b527355ab002.vsidx
/.vs/BankApp1/FileContentIndex/8fadb140-8efb-4832-a6f6-a02366f7980a.vsidx
/.vs/BankApp1/FileContentIndex/317eb3d0-9b1c-406b-b593-48cdca566c0d.vsidx
/.vs/BankApp1/FileContentIndex/733dd6a8-3b94-44d6-baaa-e59175422b91.vsidx
/.vs/BankApp1/FileContentIndex/9e40403b-a135-4239-a3ae-b4853fb62c05.vsidx
/.vs/BankApp1/config/applicationhost.config
/.vs/BankApp1/FileContentIndex/342e6a7a-10f8-4c14-9e85-243ddb9acfb1.vsidx
/.vs/BankApp1/FileContentIndex/6bcf6f22-e755-4124-bea4-5a8a07356da8.vsidx
/.vs/BankApp1/FileContentIndex/c7e4c831-dae9-4e4b-9c76-4ac148bac4a5.vsidx
