@page "/accounts"
@using System.ComponentModel.DataAnnotations
@inject IAccountService AccountService




<h3>Accounts</h3>

@if (accounts == null || !accounts.Any())
{
    <p>No accounts yet.</p>
}
else
{
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acc in accounts)
            {
                <tr>
                    <td>@acc.Name</td>
                    <td>@acc.Currency</td>
                    <td>@acc.Balance</td>
                    <td>@acc.LastUpdated</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private  createAccountModel _model = new();
    private List<BankAccount> accounts = new();


  


    protected override void OnInitialized()
    {
      //  accounts = AccountService.GetAllAccounts();
    }
    public class createAccountModel
    {
        [Required(ErrorMessage = "Name is required.")]
        public string? Name{ get; set; }

        [Required(ErrorMessage = "Account Type is required.")]
        public AccountType AccountType{ get; set; }

        [Required(ErrorMessage = "Currency is required.")]
        public string? Currency { get; set; }

        [Range(0, double.MaxValue, ErrorMessage = "Balance cannot be negative.")]
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            AccountType = AccountType.Deposit;
            Currency = string.Empty;
            InitialBalance = 0;
        }

    }
    }