@inherits LayoutComponentBase
@inject ISignInService SignInService


<div class="page">
    @if (SignInService.IsSignedIn)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}
    <main>
       

        <div class="top-row px-4">
            <TopBar />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
