<div class="top-row ps-3 navbar navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" href="">Horizon</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
           @*  <span class="navbar-toggler-icon"></span> *@
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-white shadow-sm vh-100">
    <nav class="nav flex-column mt-3">
        <NavLink class="nav-link d-flex align-items-center py-2" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door me-2 text-secondary fs-5"></i> Home
        </NavLink>

        <NavLink class="nav-link d-flex align-items-center py-2" href="accounts">
            <i class="bi bi-bank me-2 text-secondary fs-5"></i> My Banks
        </NavLink>

        <NavLink class="nav-link d-flex align-items-center py-2" href="transactions">
            <i class="bi bi-arrow-left-right me-2 text-secondary fs-5"></i> Transfer Funds
        </NavLink>

        <NavLink class="nav-link d-flex align-items-center py-2" href="connectbank">
            <i class="bi bi-plus-square me-2 text-secondary fs-5"></i> Connect Bank
        </NavLink>
    </nav>
</div>
@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


