.nav-link {
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    margin: 4px 8px;
    transition: all 0.2s ease-in-out;
}

  

.nav-scrollable {
    width: 240px;
    padding-top: 20px;
}

.navbar-toggler {
    display: none;
}
@media (max-width: 940.98px) {
    .navbar-toggler {
        display: block;
    }
}